@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Sedan:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f4f3;
}

.login{
    margin-top: 260px;
}

.register{
    margin-top: 160px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.brand img {
    height: 60px;
    margin-right: 10px;
}

.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choco{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d1c8c1;
    width: 90%;
    max-width: 500px;
    height: 60px;
    padding: 15px;
    border: none;
}

.nav-to{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav-to a{
    color: black;
}

.button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-color: #d1c8c1;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px 0 150px;
    border-bottom: black 1px solid;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu a{
    font-family: "Montserrat", sans-serif;
    margin: 0 25px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.bento {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin: 20px 0px 0px 40px;
    align-items: center;
    border-radius: 8px;
}

.top img {
    width: auto; 
    height: 525px;
    border-radius: 8px 8px 8px 8px;
}

.bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 115px 0px 115px;
}

.bento-tb {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    flex: 1;
    margin-right: 50px;
    margin-left: 25px;
}
  
.bento-tb p {
    margin-bottom: 15px; 
}
  
.bento-tb button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: #d1c8c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
  
.bimg img {
    width: 200px;
    height: auto;
    margin: 20px;
}

img {
    max-width: 100%; 
    height: auto; 
}

@media (max-width: 768px) { 
    .navbar-menu {
      flex-direction: column; 
      align-items: center;
    } 
  
    .navbar-menu a { 
      margin: 10px 0; 
    }
  
    .bottom {
      flex-direction: column;
    }
}

.list{
    margin: 50px 100px 50px 120px;
}

.info-course-l{
    padding-top: 20px;
}

.info-course-r{
    padding-top: 20px;
}

.fit{
    object-fit: cover;
    width: 686px;
    height: 342px;
    border-radius: 8px;
    margin: 0px 50px 0px 50px;
}

.list-item-l{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.list-item-r{
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 0px 50px;
}

.title{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.period{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.summary{
    font-family: "Poppins", sans-serif;
}

.info-course-l .lb{
    margin-top: 50px;
    margin-left: 500px;
}

.info-course-r .lb{
    margin-top: 50px;
    margin-left: 500px;
}


.admin-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    border-bottom: #4793AF 1px solid;
}

.admin-navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-navbar-menu a{
    font-family: "Montserrat", sans-serif;
    margin: 0 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.admin-navbar-avatar {
    display: inline-block;
    width: 64px;
    height: 64px;   
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
    margin-bottom: 20px;
    border: #40A2E3 1px solid;
    cursor: pointer;
}
  
.admin-navbar-avatar img {
    width: 100%; 
    height: 100%;  
    object-fit: cover;
}

.dropdown-menu {
    position: fixed;
    right: 190px;
    top: 90px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}
  
.dropdown-menu button {
    background: none;
    border: none;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: #000;
}
  
.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.dropdown-menu-admin {
    position: absolute;
    right: 40px;
    top: 90px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-menu-admin button {
    background: none;
    border: none;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: #000;
}
  
.dropdown-menu-admin button:hover {
    background-color: #f0f0f0;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .error-title {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #a94442;
    background-color: #f8d7da;
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: #f8d7da;
  }
  
  .error-detail {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
    background-color: #f8d7da;
  }
  .error-detail i {
    background-color: #f8d7da;
  }
  
  .error-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #721c24;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .error-link:hover {
    background-color: #a94442;
  }